/*overall design rules*/
* {
    margin: 0%;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    line-height: 1.5;
    
}


body {
    /*flex-wrap: wrap; */
    flex-direction: column;
    background-color: black;
}

/*styles for the main heading*/
.Title {
    display: flex; 
    flex-direction: row;
    flex: 1 0 100%;
    width: 100%;
    font-size: 100%;
    left: 0%; 
    background-image: url("./images/headerbackground.jpg");
}

h1 {
    font-size: 230%;
    text-decoration: underline;
}

/* styles for section headers*/
header {
    font-size: 200%;
    justify-content: space-between;
    position: absolute;
    left: 5%;
    text-decoration: underline;
    font-style: italic;  

}

/*Navigation*/

button {
    flex: 1 0 100%;
    flex-direction: row;
    background-color: rgb(117, 113, 113);
    padding: 3%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-weight: bolder;
    border: pink 5px solid;
}

/*About me Section*/
#aboutme {
    align-items: center;
    
}

.selfie {
    width: 200px; 
    height:auto;
    border: 10px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
}


 /*my work section with cards*/
 #mywork {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    border-left: pink 10px solid;
}


/*card styles */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

.card {
    flex:1 1 100px;
    padding: 5%;
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 50%;
    margin: 1%;
    box-shadow: 0px 0px 20px;
    background-image: url("./images/project2.jpg");
    background-size: cover;
    width: 50%;
}


h2 {
    color: rgb(0, 0, 0);
    align-items: center;
    margin: 10%; 
    padding: 5%; 
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: underline;
    border-radius: 50%;
}


/*contact section*/
#contact { 
    height: 200%;
    border-top: pink solid 10px;
    
}

 
.contactL {
    text-align: center;
    border: pink solid 1px;
    border-radius: 50%;
    padding: 10px;
    margin:2px;

}

/*breakpoint for laptops*/
    @media screen and (max-width:1025px) {
    .selfie {
        margin-top: 15%;
    }

    .card {
        justify-content: space-around;
    }

    #mywork {
        padding-bottom: 0%;
    }

    #contact ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #contact li {
        justify-content: center;

    }

    }


/*breakpoint for tablets*/

  @media screen and (max-width: 768px) {
   #aboutme {
       padding-top: 10%;
   }
    
   #mywork {
       padding-top:10%;
       width: 50%;
   }
    #contact ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin:3%;
        justify-content: space-evenly;
        position: relative;
    }
  }


  /* break point for mobile devices */
  @media screen and (max-width: 480px) {
   main, section {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    nav {
        width: 30%
    }
    button {
        flex-direction: row;
        padding: 1%;
        width: 60px;
        height: 60px;
    }
    .selfie {
        margin-top: 40%; 
    }
    .aboutme {
        margin-bottom: 140%;
        padding: 5%;
    }
    #aboutme {
        margin-top: 35%;
        padding: 5%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .mywork {
        position: absolute;
        margin-bottom: 190%;
        justify-content: flex-start;

    }
    #mywork {
        justify-content: center;
        width: 50%;
        height: 100vh;
        border-left: none;
        margin: 0;
        flex-direction: column;
        border-bottom: pink solid 1%;
        
    }
    

    .card {
        display: flex;
        margin-left: 0%;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        height: auto;
        flex: 1 0 100%;
    }

    .contact {
        position: relative;
        margin-bottom: 10%;
    }
    #contact ul {
        flex-direction: column;
        align-items: center;
    }


  }