:root {
    --main-background: black;
    --buttons: #A883BA;
    --font-color-light: white;
    --font-color-drk:#5A3E51;
    --border-color:#D9DAFF;


}

/*overall design rules*/
* {
    margin: 0%;
    color: var(--font-color-light);
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Federo', sans-serif;
}

body {
    /*flex-wrap: wrap; */
    flex-direction: column;
    background-color: var(--main-background);
}

/*styles for the main heading*/
.Title {
    background-image: url("./images/headerbackground.jpg");
}

h1 {
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
    font-family: 'Suez One', serif;
}

/* styles for section headers*/
header {
    font-size: 200%;
    text-decoration: underline;
    font-style: italic;  

}

/*Navigation*/
.btn {
    background-color:var(--buttons);
    font-weight: bolder;
    border: var(--border-color) 5px solid;
}

/* left side with section titles */
.titleBar {
    border-right: var(--border-color) 3px solid;
    width:fit-content;
}



#aboutMeContainer{
    border-bottom: 3px var(--border-color) solid;
}

/*About me Section*/
#aboutme {
    text-align: center;
}


.selfie {
    width: 200px; 
    height:auto;
    border: var(--border-color) 5px dashed;
}

/*card styles */


.card {
    padding: 5%;
    border-style: solid;
    border-color: var(--border-color);
    border-radius: 50px;
    box-shadow: 0px 0px 10px;
    background-image: url("./images/purple.jpg");
    background-size: cover;
    max-width: 70%;
    min-width: 35%;
    text-align: center;
    margin: 10px 5px 5px 5px;
    
}

#mainProject{
    margin-left: 100px;
}

#myWork {
    margin-left: 110px;
}

.link{
    color:var(--font-color-drk);
    font-size: 150%;
}

.img{
    width: 75%;
}

h2 {
    color: var(--font-color-drk);
    align-items: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: underline;
    border-radius: 50%;
}

/*contact section*/
#contact { 
    height: 200%;
    border-top: var(--border-color) solid 3px;
    text-align: center;
}

 


/*breakpoint for laptops*/
    /* @media screen and (max-width:1025px) {
    .selfie {
        margin-top: 15%;
    }

    .card {
        justify-content: space-around;
    }

    #mywork {
        padding-bottom: 0%;
    }

    #contact ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #contact li {
        justify-content: center;

    }

    } */


/*breakpoint for tablets*/

  /* @media screen and (max-width: 768px) {
   #aboutme {
       padding-top: 10%;
   }
    
   #mywork {
       padding-top:10%;
       width: 50%;
   }
    #contact ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin:3%;
        justify-content: space-evenly;
        position: relative;
    }
  } */


  /* break point for mobile devices */
  /* @media screen and (max-width: 480px) {
   main, section {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    nav {
        width: 30%
    }
    button {
        flex-direction: row;
        padding: 1%;
        width: 60px;
        height: 60px;
    }
    .selfie {
        margin-top: 40%; 
    }
    .aboutme {
        margin-bottom: 140%;
        padding: 5%;
    }
    #aboutme {
        margin-top: 35%;
        padding: 5%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .mywork {
        position: absolute;
        margin-bottom: 190%;
        justify-content: flex-start;

    }
    #mywork {
        justify-content: center;
        width: 50%;
        height: 100vh;
        border-left: none;
        margin: 0;
        flex-direction: column;
        border-bottom: pink solid 1%;
        
    }
    

    .card {
        display: flex;
        margin-left: 0%;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        height: auto;
        flex: 1 0 100%;
    }

    .contact {
        position: relative;
        margin-bottom: 10%;
    }
    #contact ul {
        flex-direction: column;
        align-items: center;
    }


  } */